@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,700;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Karla', sans-serif;
    background-color: #E6EFF6;
}

@media screen and (min-width: 640px){
    
    main {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .hero {
        width: 600px;
        height: 220px;
        background-color: #FFFFFF;
        padding: 2rem 1.5rem;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }
    
    .hero h1 {
        margin-bottom: 1.5rem;
        color: #39ADA4;
    }
    
    .hero h3 {
        color: #C2DD40;
    
    }
    
    .hero p {
        color: #B3B9C1;
        font-weight: 400;
    }
    
    
    .articles {
        display: flex;
    }
    
    .article-one {
        width: 300px;
        height: 250px;
        background-color: #2BB3B1;
        padding: 2rem;
        color: #FFFFFF;
        border-bottom-left-radius: 0.5rem;
    }
    
    h3 {
        margin-bottom: 1.5rem;
    }
    
    .price-card {
        display: flex;
        align-items: center;
    }
    
    .price-no {
        font-size: 32px;
    }
    
    .price-detail {
        margin-left: 2rem;
        font-size: 16px;
        color: #b9dcbd;
    }
    
    .article-one p {
        margin-bottom: 1rem;
    }
    
    button {
        width: 100%;
        height: 45px;
        background-color: #BFDF32;
        border-radius: 0.5rem;
        border: none;
        color: #FFFFFF;
        font-weight: 700;
    }
    
    .article-two {
        width: 300px;
        height: 250px;
        background-color: #4ABEBD;
        padding: 2rem;
        color: #E6EFF6;
        border-bottom-right-radius: 0.5rem;
    }
    
    .article-two p {
        color: #f0f0e7;
    }    
}



@media screen and (min-width: 280px){
    
    main {
        margin: 3rem 1.5rem;
    }

    .hero {
        background-color: #FFFFFF;
        padding: 2rem 1.5rem;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
    }

    .hero h1 {
        margin-bottom: 1.5rem;
        color: #39ADA4;
    }
    
    .hero h3 {
        color: #C2DD40;
        margin-bottom: 1.5rem;
    }
    
    .hero p {
        color: #B3B9C1;
        font-weight: 400;
    }

    .article-one {
        background-color: #2BB3B1;
        padding: 2rem 1.5rem;
        color: #FFFFFF;
    }
    
    h3 {
        margin-bottom: 1.5rem;
    }
    
    .price-card {
        display: flex;
        align-items: center;
    }
    
    .price-no {
        font-size: 32px;
    }
    
    .price-detail {
        margin-left: 2rem;
        font-size: 16px;
        color: #b9dcbd;
    }

    .article-one p {
        margin-bottom: 1rem;
    }
    
    button {
        width: 100%;
        height: 45px;
        background-color: #BFDF32;
        border-radius: 0.5rem;
        border: none;
        color: #FFFFFF;
        font-weight: 700;
    }

    .article-two {
        background-color: #4ABEBD;
        padding: 2rem;
        color: #E6EFF6;
        border-bottom-right-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
    }
    
    .article-two p {
        color: #f0f0e7;
    }    
}